.bookmarks {
  @include Flexx();
  @include Justifycontent(center);
  @include AlignItem(center);
  @include Font($font-l, initial, initial, $fontRoboto, initial);
  margin: 210px 0 50px 0;
  flex-direction: column;
  width: 800px;
  position: relative;
  cursor: pointer;
  &__wrapper {
    @include Transition(50px, 2px solid $c-white, 0.5, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out);
    @include Flexx();
    @include AlignItem(center);
    @include Shape(110px, 350px);
    margin: 10px 20px 20px 20px;
    background-color: $c-DeepKoamaru;
    position: relative;
    &--three {
      @include Position(absolute, 0, initial, initial, 0);
    }
    &--four {
      @include Position(absolute, initial, 0, initial, 0);
    }
    &--one,
    &--oneIsActive,
    &--threeIsActive {
      @include Position(absolute, 0, initial, initial, -145px);
    }
    &--two,
    &--twoIsActive,
    &--fourIsActive {
      @include Position(absolute, initial, 0, initial, -145px);
    }
  }
  &__wrapper:hover {
    opacity: 1;
  }
  &__wrapperIsActive {
    z-index: 3;
  }
  &__image {
    @include Shape(50px, 50px);
    @include Position(absolute, 0, initial, 12px, initial);
    filter: sepia() saturate(10000%) hue-rotate(270deg);
    padding: 20px;
  }
  &__number {
    @include Position(absolute, 90px, initial, -10px, initial);
    color: $c-LightOrchid;
    width: 60%;
  }
  &__title {
    @include Font($font-x, initial, initial, $Outfit, $c-white);
    display: block;
    cursor: pointer;
  }
  &__description {
    @include Font($font-l, initial, initial, $fontRoboto, $c-white);
    cursor: pointer;
  }
  &__desciptionAll {
    @include Font($font-l, initial, initial, $fontRoboto, $c-white);
    display: block;
    padding-top: 10px;
    animation: mymove 1s forwards;
  }
  &__desciptionAllOff {
    display: none;
  }
  &__arrow {
    border: 1px dashed transparent;
    border-width: 10px 10px 10px 10px;
    cursor: pointer;
    border-left: 10px solid $c-white;
    position: absolute;
    right: 20px;
    &--rotate {
      @include Position(absolute, initial, 20px, auto, initial);
      transform: rotate(180deg);
    }
  }
  &__arrow:hover {
    border-left: 10px solid $c-black;
  }
}

.active {
  @include Shape(255px, 755px);
  transition: height 1s, bottom 1s, width 1s;
  z-index: 1;
  background-color: $c-ParisM;
  opacity: 1;
}

.item {
  @include Shape(110px, 350px);
  transition: height 1s, bottom 1s, width 1s;
}

.back {
  transition: height 1s, bottom 1s, width 1s;
  z-index: 1;
  opacity: 1;
  width: 350px;
}

@keyframes mymove {
  0%   {opacity: 0;}
  75%  {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width: $break-tablet) {
  .bookmarks {
    margin-top: -80px;
    width: 350px;
  }

  .active {
    width: 350px;
    position: relative;
  }

  .item {
    @include Position(relative, 0, initial, initial, -145px);
  }
}

@media only screen and (max-width: $break-mobile) {
  .item,
  .back {
    @include Shape(100px, 220px);
  }

  .active {
    @include Shape(230px, 220px);
  }

  .bookmarks {
    width: 100%;
    &__wrapper {
      @include Position(relative, initial, initial, 80px, initial);
      margin: 10px;
    }
    &__image {
      @include Shape(25px, 25px);
      @include Position(absolute, 5px, initial, 12px, initial);
      padding: 10px;
    }
    &__title {
      font-size: $font-m;
    }
    &__description {
      @include Position(relative, initial, initial, 2px, initial);
      font-size: $font-m;
    }
    &__desciptionAll {
      @include Font($font-m, initial, initial, $fontRoboto, $c-white);
    }
    &__number {
      @include Position(absolute, 55px, initial, -9px, initial);
      font-size: $font-m;
      width: 65%;
    }
    &__arrow {
      border-width: 5px;
      right: 5px;
    }
    &__arrow:hover {
      border-left: 5px solid $c-black;
    }
  }
}
