.services {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
  @include Shape(100%, 100%);
  flex-direction: column;
  text-align: center;
  color: $c-white;
  position: relative;
  margin: 50px 0 100px 0;
  &__description {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: $break-mobile) {
  .services {
    margin: 50px 0;
  }
}