.presentation {
  @include Flexx();
  flex-direction: column;
  &__figure {
    @include Flexx();
    @include AlignItem(center);
    @include Font($font-x + 5, initial, initial, initial, $c-white);
  }
  &__article {
    @include Flexx();
    @include AlignItem(flex-start);
    flex-direction: column;
  }
  &__icon {
    @include Shape(40px, 40px);
  }
  &__image {
    width: 70px;
    padding-right: 20px;
  }
  &__name {
    margin-left: 10px;
    font-size: $font-standard;
  }
  &__title {
    font-size: $font-x;
  }
  &__informations {
    @include Font($font-x + 10, initial, initial, initial, $c-white);
    width: 80%;
    &--color {
      @include Font($font-standard, initial, initial, $fontRoboto, $c-LightOrchid);
      display: block;
    }
    &--bottom {
      @include Font($font-standard, initial, initial, $fontRoboto, $c-white);
    }
  }
  &__download {
    @include Transition(20px, 2px solid $c-white, 0.5, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out);
    @include Position(absolute, 0, initial, initial, 8px);
    width: 200px;
    cursor: pointer;
  }
  &__button {
    @include Font(initial, initial, pointer, $fontRoboto, $c-white);
    @include Shape(50px, 200px);
    border: none;
    padding: 0 0px 0px 60px;
    text-align: left;
    background-color: transparent;
  }
  &__image {
    @include Position(absolute, 15px, initial, initial, 10px);
    @include Shape(30px, 30px);
  }
}

@media only screen and (max-width: $break-tablet) {
  .presentation {
    @include AlignItem(center);
    @include Justifycontent(center);
    text-align: center;
    &__article {
      @include AlignItem(center);
    }
    &__name {
      margin: 0;
    }
    &__figure {
      margin-top: 40px;
    }
    &__figure,
    &__informations {
      @include Flexx();
      @include AlignItem(center);
      @include Justifycontent(center);
      flex-direction: column;
    }
    &__download {
      position: relative;
      margin-top: 30px;
    }
    &__icon {
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .presentation__informations--bottom {
    font-size: $font-m;
    
  }
}
