.projects {
  @include Flexx();
  @include Justifycontent(center);
  width: 100%;
  overflow: hidden;
  &__main {
    @include Flexx();
    @include AlignItem(center);
    @include Shape(100%, 70%);
    position: relative;
    flex-direction: column;
  }
  &__wrapper {
    @include Shape(100%, 550px);
    margin-top: 50px;
  }
  &__figure {
    @include Shape(310px, 550px);
    margin-bottom: 10px;
    background-color: $c-LuckyPoint;
    position: relative;
  }
  &__image {
    @include Shape(310px, 550px);
    object-fit: cover;
    background-position: center;
  }
  &__modal {
    background-color: $c-MineShaft;
    height: 90%;
    color: $c-white;
  }
  &__graphic {
    @include Shape(100%, 100%);
  }
  &__list {
    @include Shape(100%, 100%);
    @include Font($font-x + 5, initial, initial, $fontRoboto, $c-black);
    text-align: center;
    background-image: linear-gradient(to right, $c-ParisM, $c-Finn);
    position: relative;
    overflow: hidden;
  }
  &__box {
    background-image: linear-gradient(to right, $c-ParisM, $c-Finn);
    width: 100%;
    position: relative;
    padding: 20px;
  }
  &__picture {
    @include Shape(100%, 100%);
  }
  &__page {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Font($font-standard, initial, initial, $Outfit, $c-white);
    background-image: linear-gradient($c-Finn, $c-Plum);
    border: none;
    position: relative;
    padding: 10px;
  }
  &__link {
    color: $c-white;
    -webkit-transition: color 1s;;
    -o-transition: color 1s;;
    transition: color 1s;;
  }
  &__link:hover {
    color: $c-GoldenGrass;
  }
  &__commercial {
    @include Flexx();
    flex-direction: column;
    margin-bottom: 100px;
  }
  &__commercialBox {
    @include Flexx();
    margin-bottom: 50px;
    flex-direction: column;
  }
  &__commercialImages {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
  }
  &__screen {
    @include Shape(auto, 40%);
    box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
  }
  &__commercialArticle {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }
  &__commercialTitleWrapper {
    margin-top: 50px;
  }
}

.screen_0 {
  position: relative;
  left: 20px;
  top: 20px;
}

.screen_1 {
  position: relative;
  z-index: 1;
}

.screen_2 {
  position: relative;
  right: 20px;
  top: 20px;
}

@media only screen and (max-width: $break-mobile) {
  .projects {
    &__page {
      font-size: $font-m;
    }
    &__main {
      @include Shape(100%, 100%);
    }
    &__wrapper {
      @include Flexx();
      @include AlignItem(flex-start);
      @include Shape(100%, 250px);
      flex-direction: column;
      margin-top: 20px;
    }
    &__figure {
      @include Shape(150px, 250px);
      margin-bottom: 0;
    }
    &__image {
      @include Shape(150px, 250px);
    }
    &__box {
      padding: 10px;
    }
    
    &__commercialArticle  {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
