.button {
  @include Shape(70px, 250px);
  @include Flexx();
  @include AlignItem(center);
  @include Transition(50px, 2px solid $c-white, 0.5, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out);
  @include Font($font-standard, initial, pointer, $fontRoboto, $c-white);
  padding: 20px 20px 20px 30px;
  position: relative;
  z-index: 1;
  background-color: $c-DeepKoamaru;
  text-align: left;
  &:hover {
    opacity: 1;
  }
  &__arrow {
    @include Position(absolute, initial, 20px, auto, initial);
    @include Flexx();
    @include AlignItem(center);
    border: 1px dashed transparent;
    border-width: 10px 0px 10px 10px;
    cursor: pointer;
    border-left: 10px solid $c-white;
    z-index: 1;
  }
  &__arrow:hover {
    border-left: 10px solid $c-black;
  }
  &--position {
    @include Position(absolute, initial, -1px, initial, -1px);
  }
}

@media only screen and (max-width: $break-tablet) {
  .button {
    @include Shape(50px, 180px);
    @include Font($font-l, initial, pointer, $fontRoboto, $c-white);
    padding-left: 15px;
  }
}

@media only screen and (max-width: $break-mobile) {
  .button {
    @include Shape(35px, 120px);
    @include Font($font-m, initial, pointer, $fontRoboto, $c-white);
    margin-top: 10px;
    padding: 10px;
    &__arrow {
      @include Position(absolute, initial, 10px, initial, initial);
      @include Flexx();
      @include AlignItem(center);
      border: 1px dashed transparent;
      border-width: 5px 0px 5px 5px;
      cursor: pointer;
      border-left: 5px solid $c-white;
      z-index: 1;
    }
    &__arrow:hover {
      border-left: 5px solid $c-black;
    }
  }
}
