.phone {
  @include Flexx();
  @include Justifycontent(center);
  margin-top: 10px;
  flex-direction: row;
  overflow-x: hidden;
  &__image {
    @include Shape(100%, 100%);
  }
  &__wrapper {
    @include Position(relative, 50px, initial, initial, initial);
    @include Flexx();
  }
  &__figure {
    @include Flexx();
    @include Justifycontent(center);
    @include Shape(500px, 560px);
    margin-left: 50px;  
    z-index: 1;
  }
  &__container {
    @include Flexx();
    @include AlignItem(center);
    @include Position(absolute, 0px, initial, initial, 12px);
    @include Shape(100%, 50px);
    flex-direction: column;
  }
  &__item {
    @include Shape(20px, 20px);
    @include Transition(50%, 2px solid $c-white, 0.3, initial, initial, initial);
    margin-top: 20px;
    background-color: $c-Plum;
    cursor: pointer;
    &--color {
      background-color: $c-Plum;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $break-tablet) {
  .phone {
    @include Position(relative, 0px, initial, initial, initial);
    @include AlignItem(center);
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &__wrapper {
      @include Justifycontent(center);
      position: relative;
      left: 65px;
    }
    &__figure {
      @include Flexx();
      @include Justifycontent(center);
      @include Shape(310px, 340px);
      z-index: 1;
    }
    &__container {
      @include Shape(100%, 30px);
      left: 25px;
      bottom: 0;
    }
    &__item {
      @include Shape(10px, 10px);
      margin-top: 8px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .phone {
    @include AlignItem(center);
    margin: 0;
  }
}
