.experiences {
  @include Font($font-x, 0px, initial, $Outfit, $c-white);
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
  flex-direction: column;
  width: 75%;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  &__box {
    width: 90%;
    margin: 0px 0 30px 0;
  }
  &__wrapper {
    @include Transition(30px, 2px solid $c-white, initial, initial, initial, initial);
    flex-direction: column;
  }
  &__item:nth-child(1) {
    @include Flexx();
    @include Justifycontent(flex-start);
    padding: 30px 0 0 50px;
  }
  &__item {
    @include Flexx();
    @include Justifycontent(flex-end);
    padding: 0 50px 30px 0;
    &--topAngle,
    &--bottomAngle {
      @include Shape(50px, 15px);
      @include Transition(0, initial, initial, initial, initial, initial);
      background-color: $c-Plum;
      transform: skew(-20deg);
      margin: 10px;
    }
    &--topAngle::after,
    &--bottomAngle::after {
      content: "";
      transform: skew(-10deg);
    }
    &--topAngle::after {
      @include Position(absolute, initial, 9px, initial, 0);
      @include Border(initial, 10px solid transparent, 50px solid $c-Plum, initial);
    }
    &--bottomAngle::after {
      @include Position(absolute, initial, -4px, initial, 0);
      @include Border(initial, 10px solid $c-Plum, 50px solid transparent, initial);
    }
  }
  &__description {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(180px, 80%);
    margin: 5px 0 5px 10%;
  }
  &__content {
    transition: opacity 1s ease-in-out;
  }
  &__fadeIn {
    opacity: 1;
  }
  &__fadeOut {
    opacity: 0;
  }
}

@media screen and (max-width: $break-mobile) and (min-height: 800px) {
  .experiences {
    height: 100%;
  }
}

@media only screen and (max-width: $break-mobile) {
  .experiences {
    &__box {
      margin: 0px 0 10px 0;
    }
    &__item {
      @include Flexx();
      @include Justifycontent(flex-end);
      padding: 0 50px 30px 0;
      &--topAngle,
      &--bottomAngle {
        @include Shape(30px, 5px);
        @include Transition(0, initial, initial, initial, initial, initial);
        background-color: $c-Plum;
        transform: skew(-15deg);
        margin: 10px;
      }
      &--topAngle::after,
      &--bottomAngle::after {
        content: "";
        transform: skew(-15deg);
      }
      &--topAngle::after {
        @include Position(absolute, initial, -1px, initial, 0);
        @include Border(initial, 10px solid transparent, 30px solid $c-Plum, initial);
      }
      &--bottomAngle::after {
        @include Position(absolute, initial, -4px, initial, 0);
        @include Border(initial, 10px solid $c-Plum, 30px solid transparent, initial);
      }
    }
  }
}