.paragraph__text {
  @include Font($font-standard, initial, initial, $fontRoboto, $c-white);
}

.paragraph__textTwo {
  @include Font($font-standard, initial, initial, $fontRoboto, $c-white);
  font-weight: 600;
}

@media only screen and (max-width: $break-mobile) {
  .paragraph__text,
  .paragraph__textTwo {
    font-size: $font-m + 1;
  }
}
