body, html {
  background-color: $c-DeepKoamaru;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

a {
  text-decoration: none;
  color: $c-black;
}

nav {
  @include Position(relative, initial, initial, 0, 80px);
  font-size: $font-standard;
}

h1 {
  display: block;
}

h1:before{
  @include Position(relative, 10px, initial, initial, 35px);
  content: ".";
}

.react-responsive-modal-modal {
  padding : 0;
}

.react-responsive-modal-closeButton {
  
  background-color: $c-white;
  border-radius: 50%;
}

nav,
ul,
li,
div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 1000px) {
  h1::before {
    @include Position(relative, 3px, initial, initial, 17px);
  }
}

@media only screen and (max-width: 600px) {
  h1::before {
    @include Position(relative, 3px, initial, initial, 11px);
  }
  nav {
    font-size: 13px;
  }
}