@mixin Position ($position: 'relative', $left: 0, $right: 0, $top: 0, $bottom: 0) {
    position: $position;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

@mixin Flexx  {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

@mixin Justifycontent($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == center {
        -webkit-box-pack: center;
        -ms-flex-pack: center; 
    } @else if $value == space-between {
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;    
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
  }

@mixin AlignItem($value: center) {
    @if $value == flex-start {
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
    } @else if $value == flex-end {
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
    } @else if $value == center {
        -webkit-box-align: center;
        -ms-flex-align: center;     
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-box-align: $value; 
    -ms-flex-align: $value; 
    align-items: $value;
  }

  @mixin AlignSelf($value: center) {
    @if $value == stretch {
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
    } @else if $value == flex-end {
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
    } @else if $value == stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;     
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-box-align: $value; 
    -ms-flex-align: $value; 
    align-self: $value;
  }

@mixin Shape ($height: 0, $width: 0) {
    height: $height;
    width: $width;
}

@mixin Font ($fontSize: 0, $margin: 0, $cursor: "none", $fontfamily: "none", $color: "none") {
    font-size: $fontSize;
    margin: $margin;
    cursor: $cursor;
    font-family: $fontfamily;
    color: $color;
}

@mixin Transition($borderRadius: 0, $border: 2px solid white, $opacity: 0.5, $-webkitTransition: 0.2s ease-in-out, $-oTransition: 0.2s ease-in-out, $transition: 0.2s ease-in-out) {
    border-radius: $borderRadius;
    border: $border;
    opacity: $opacity;
    -webkit-transition:  $-webkitTransition;
    -o-transition: $-oTransition;
    transition: $transition;
}

@mixin Border($borderTop: 10px solid transparent, $borderRight: 10px solid transparent, $borderBottom: 10px solid transparent, $borderLeft: 10px solid transparent) {
    border-top: $borderTop;
    border-right: $borderRight;
    border-bottom: $borderBottom;
    border-left: $borderLeft;
}

@mixin KeyFrames($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin Animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}
@mixin AnimationDelay($str) {
  -webkit-animation-delay: #{$str};
  animation-delay: #{$str};
}

@mixin Transform($str) {
    -webkit-transform: #{$str};
    transform: #{$str};
  }