$c-white: #FFFFFF;
$c-black: #000000;
$c-MineShaft: #3D3D3D;
$c-PinkFlamingo: #F84FE6;
$c-ParisM: #0C0668;
$c-Apple: #4f882e;
$c-LightOrchid: #DDA8DD;
$c-DeepKoamaru: #101072;
$c-Plum: #8d3b82;
$c-CornFlower: #7688EC;
$c-PersianBlue: #1C3BEB;
$c-GoldenGrass: #DBA828;
$c-LuckyPoint: #281c72;
$c-Finn: #502150;
$c-silver: #B8B8B8;

$fontRoboto: 'Roboto', sans-serif;
$Outfit: 'Outfit', sans-serif;

$font-full: 70px;
$font-xxl: 45px;
$font-x: 25px;
$font-standard: 20px;
$font-l: 15px; 
$font-m: 13px;

$break-desktop: 1200px;
$break-tablet: 1000px;
$break-tablet-small: 800px;
$break-mobile-xl: 650px;
$break-mobile: 600px;
