.spinner {
  @include Flexx();
  @include Justifycontent(center);
  @include AlignItem(center);
  @include Shape(100%, 100%);
  @include Position(absolute, 0, initial, 0, initial);
  background-color: $c-DeepKoamaru;
  &__wrapper {
    @include Shape(60px, 60px);
    @include Transform(rotateZ(45deg));
    margin: 20px auto;
  }
  &__item {
    @include Shape(50%, 50%);
    @include Transform(scale(1.1));
    float: left;
    margin: 0;
    &:before {
      content: "";
      @include Position(absolute, 0, initial, 0, initial);
      @include Shape(100%, 100%);
      @include Animation("sk-foldCubeAngle 2.4s infinite linear both");
      background-color: $c-white;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    &--two {
      @include Transform(scale(1.1) rotateZ(90deg));
      &:before {
        @include AnimationDelay(0.3s);
      }
    }
    &--three {
      @include Transform(scale(1.1) rotateZ(180deg));
      &:before {
        @include AnimationDelay(0.6s);
      }
    }
    &--four {
      @include Transform(scale(1.1) rotateZ(270deg));
      &:before {
        @include AnimationDelay(0.9s);
      }
    }
  }
}

@include KeyFrames(sk-foldCubeAngle) {
  0%,
  10% {
    @include Transform(perspective(140px) rotateX(-180deg));
    opacity: 0;
  }
  25%,
  75% {
    @include Transform(perspective(140px) rotateX(0deg));
    opacity: 1;
  }
  90%,
  100% {
    @include Transform(perspective(140px) rotateY(180deg));
    opacity: 0;
  }
}
