.cv {
  @include Flexx();
  @include Shape(100%, 100%);
  @include AlignItem(center);
  @include Justifycontent(center);
  flex-direction: row;
  background-image: linear-gradient($c-LuckyPoint, $c-ParisM);
  border: 1px solid $c-white;
  box-sizing: border-box;
  margin: 0;
  &__box {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(100%, 100%);
    flex-direction: column;
    margin: 25px;
  }
  &__figure {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(220px, 165px);
    background-color: $c-LuckyPoint;
    border: 2px solid $c-white;
    margin: 25px;
    flex-direction: column;
  }
  &__photo {
    @include Shape(220px, 165px);
    position: relative;
    top: 2px;
  }
  &__informations {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Font($font-l + 3, initial, initial, $fontRoboto, $c-white);
    flex-direction: column;
    text-align: center;
    margin: 25px;
    border: 1px solid $c-white;
  }
  &__aboutMe {
    margin: 20px 0;
  }
  &__title {
    text-decoration: underline;
    font-weight: 1000;
  }
  &__name {
    @include Font($font-standard, 0, initial, $fontRoboto, $c-white);
    font-weight: 1000;
  }
  &__reference {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
  }
  &__link {
    color: $c-CornFlower;
  }
}

@media only screen and (max-width: $break-tablet) {
  .cv {
    @include AlignItem(center);
    @include Justifycontent(center);
    flex-direction: column;
    width: 100%;
    &__figure {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .cv {
    &__informations,
    &__name {
      font-size: $font-l;
    }
  }
}
