.navigation {
  @include Shape(100%, 100%);
  margin-top: 60px;
  &__active,
  &__notActive {
    @include Position(relative, 10px, initial, initial, initial);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
    -webkit-transition: border-top 0.2s linear, border-bottom 0.2s linear;
    -o-transition: border-top 0.2s linear, border-bottom 0.2s linear;
    transition: border-top 0.2s linear, border-bottom 0.2s linear;
    position: relative;
    z-index: 1;
  }
  &__notActive {
    border-top: 10px solid $c-white;
    top: 20px;
  }
  &__active {
    border-bottom: 10px solid $c-white;
    top: -16px;
  }
  &__notActive:hover {
    border-top: 10px solid $c-black;
  }
  &__active:hover {
    border-bottom: 10px solid $c-black;
  }
  &__wrapper {
    @include Shape(100%, 120px);
    display: inline-block;
    vertical-align: top;    
    line-height: 100%;
    position: relative;
    z-index: 1;
  }
  &__item {
    display: inline-block;
    position: relative;
  }
  &__item::after {
    content: '';
    @include Position(absolute, 0, initial, initial, -2px);
    @include Shape(2px, 100%);
    transform: scaleX(0);
    background-color: $c-white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &__item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media only screen and (max-width: $break-mobile) {
  .navigation__wrapper {
    @include Position(relative, initial, initial, initial, 25px);
    @include Shape(initial, 80px);
  }

  .navigation__notActive,
  .navigation__active {
    @include Position(relative, 5px, initial, initial, initial);
    @include Border(initial, 6px solid transparent, initial, 6px solid transparent);
  }

  .navigation__notActive {
    border-top: 6px solid $c-white;
    top: 12px;
  }

  .navigation__notActive:hover {
    border-top: 6px solid $c-black;
  }

  .navigation__active {
    border-bottom: 6px solid $c-white;
    top: -10px;
  }

  .navigation__active:hover {
    border-bottom: 6px solid $c-black;
  }
}