.heading__title {
  @include Font($font-xxl + 20, initial, initial, $Outfit, $c-white);
  margin-bottom: 20px;
}

.heading__text {
  @include Font($font-x, 0, initial, $fontRoboto, $c-white);
  display: block;
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
}

.heading__name {
  @include Font($font-xxl, 40px, initial, $Outfit, $c-white);
  display: block;
}

.heading__block {
  display: block;
}

@media only screen and (max-width: $break-tablet) {
  .heading__mainTitle {
    font-size: $font-xxl + 5;
    padding-bottom: 15px;
  }

  .heading__text {
    font-size: $font-l + 3;
  }

  .heading__title {
    @include Position(relative, initial, initial, 5px, 30px);
    font-size: $font-x + 5;
  }

  .heading__name {
    font-size: $font-x;
  }
}

@media only screen and (max-width: $break-mobile) {
  .heading__mainTitle {
    font-size: $font-xxl;
  }
  .heading__text {
    font-size: $font-m;
    width: 100%;
  }
  .heading__name,
  .heading__title {
    font-size: $font-standard;
  }
}
