.header {
  position: relative;
  &__image {
    @include Shape(initial, 100%);
    object-fit:cover;
    background-position: top;
    min-height: 175vh;
  }
  &__wrapper {
    @include Position(absolute, 0, initial, 0, initial);
    @include Font($font-x, 10px, initial, $fontRoboto, $c-white);
    display: inline-block;
    font-weight: 500;
  }
  &__name {
    @include Font($font-x, initial, initial, $fontRoboto, $c-white);
    margin-top: 25px;
  }
  &__item {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  &__positionFixed {
    @include Position(fixed, auto, initial, 0, initial);
    z-index: 3;
    font-size: $font-x;
  }
  &__positionSticky {
    font-size: $font-x;
  }
}

@media only screen and (max-width: $break-mobile) {
  .header__image {
    @include Shape(initial, 100%);
    min-height: 65vh;
  }
  .header__positionFixed,
  .header__positionSticky  {
    font-size: $font-l;
    width: 80px;
  }
  .header__name {
    font-size: $font-m + 2;
    margin-bottom: 20px;;
  }
}
