.gallery {
  @include Position(absolute, 25px, initial, 20px, initial);
  width: 220px;
  height: 460px;
  background-color: $c-silver;
  margin-left: 50px;
  &__wrapper {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Position(absolute, 1.8px, initial, initial, 0);
    @include Shape(50px, 216px);
    z-index: 1;
    background-color: $c-DeepKoamaru;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &__image {
    @include Shape(460px, 220px);
  }
  &__arrow {
    @include Font($font-xxl, 10px, pointer, $fontRoboto, $c-white);
    margin-bottom: 18px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  &__text {
    @include Font($font-x, 0, initial, $fontRoboto, $c-white);
  }
}

@media only screen and (max-width: $break-tablet) {
  .gallery {
    @include Position(absolute, 15px , initial, 10px, initial);
    @include Shape(285px, 130px);
    &__text {
      @include Font($font-l + 1, 0, initial, $fontRoboto, $c-white);
    }
    &__wrapper {
      @include Position(absolute, 0.6px, initial, initial, 0);
      @include Shape(25px, 127.8px);
      bottom: 0px;
    }
    &__arrow {
      @include Font($font-x + 5, 5px, pointer, $fontRoboto, $c-white);
      margin-bottom: 10px;
    }
    &__image {
      @include Shape(285px, 130px);
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .gallery {
    &__arrow {
      margin-bottom: 13px;
    }
  }
}
