.technology {
  @include Flexx();
  @include AlignItem(center);
  flex-direction: column;
  width: 100%;
  height: 80%;
  text-align: center;
  background-color: $c-ParisM;
  &__block {
    @include Shape(80px, 90px);
    @include Position(absolute, 0, initial, 60px, initial);
    background-color: $c-ParisM;
    z-index: 2;
  }
  &__informations {
    width: 600px;
    color: $c-white;
  }
  &__main {
    @include Flexx();
    @include Justifycontent(center);
    flex-wrap: wrap;
    width: 90%;
    margin: 10px 0 150px 0px;
    position: relative;
  }
  &__box {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    flex-direction: column;
  }
  &__wrapper {
    @include Shape(60px, 90px);
    background-color: $c-Apple;
    border-radius: 10px;
    position: relative;
    margin: 15px 10px 30px 10px;
    z-index: 2;
  }
  &__image {
    @include Position(relative, initial, initial, 77px, initial);
    z-index: 1;
    width: 60%;
  }
  &__name {
    @include Font($font-standard, initial, initial, $fontRoboto, $c-white);
    @include Position(relative, initial, initial, initial, 20px);
    z-index: 3;
  }
}

@media only screen and (max-width: $break-tablet) {
  .technology {
    &__informations {
      width: 60%;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .technology {
    @include Justifycontent(center);
    &__wrapper {
      @include Shape(50px, 70px);
    }
    &__block {
      @include Position(absolute, initial, 0px, 50px, initial);
      width: 70px;

    }
    &__informations {
      width: 200px;
    }
    &__image {
      width: 60%;
    }
    &__name {
      font-size: $font-l;
    }
  }
}


@media screen and (max-width: 600px) and (min-height: 800px) {
  .technology {
    height: 100%;
  }
}