.zip {
    @include Flexx();
    @include Position(relative, 0px, initial, initial, initial);
    @include AlignItem(flex-end);
    width: 300px;
    flex-direction: column;
    z-index: 1;
    &__arrows:hover {
      opacity: 1;
    }
    &__button {
      background-color: transparent;
      border: none;
    }
    &__arrows {
      @include Shape(120px, 50px);
      @include Position(absolute, initial, 0, 10px, initial);
      @include Transition(30px, 2px solid $c-white, 0.5, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out, opacity 0.2s ease-in-out);
      display: block;
    }
    &__arrowUp,
    &__arrowDown {
      @include Position(relative, 10px, initial, initial, initial);
      border: 1px dashed transparent;
      border-width: 10px 10px 0 10px;
      cursor: pointer;
    }
    &__arrowUp {
      @include Position(relative, 9px, initial, initial, initial);
      border-bottom: 10px solid $c-white;
    }
    &__arrowDown {
      @include Position(relative, 9px, initial, 80px, initial);
      border-top: 10px solid $c-white;
    }
    &__arrowUp:hover {
      border-bottom: 10px solid $c-black;
    }
    &__arrowDown:hover {
      border-top: 10px solid $c-black;
    }
}

@media only screen and (max-width: $break-tablet) {
    .zip {
        @include AlignItem(center);
        @include Justifycontent(center);
        @include Shape(100%, 100%);
        position: initial;
        &__arrows {
          @include Shape(100px, 30px);
          @include Position(absolute, initial, 30px, 5px, initial);
        }
        &__arrowUp {
          @include Position(relative, -1px, initial, initial, 3px);
        }
        &__arrowDown {
          @include Position(relative, -1px, initial, 65px, initial);
        }
    }
}

