.mainWrapperColumn {
    @include Flexx();
    @include Justifycontent(center);
    margin-top: 10px;
    flex-direction: row;
    width: 100%;
}

.mainWrapperRow {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media only screen and (max-width: $break-tablet) {
    .mainWrapperColumn {
        @include AlignItem(center);
        flex-direction: column;
    }
}
