%imageRadius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.socialMedia {
  @include Flexx();
  @include Justifycontent(center);
  &__image {
    @include Shape(35px, 35px);
    @include Transition(50%, initial, initial, all 0.95s ease, all 0.95s ease, all 0.95s ease);
    @extend %imageRadius;
    margin: 10px;
  }
  &__image:hover {
    @include Transform(scale(1.15) rotate(1deg));
    @extend %imageRadius;
    box-shadow:  0 0 5px 3px $c-GoldenGrass;
    -moz-box-shadow: 0 0 8px 3px $c-GoldenGrass;
    -webkit-box-shadow: 0 0 8px 3px $c-GoldenGrass;
    -o-box-shadow: 0 0 8px 3px $c-GoldenGrass;
  }
}
