.footer {
  @include Flexx();
  @include Font($font-standard, initial, initial, $fontRoboto, $c-white);
  flex-direction: column;
  height: 100%;
  padding: 15px;
  &__wrapper {
    @include Flexx();
    flex-direction: column;
  }
}

@media only screen and (max-width: $break-tablet) {
  .footer {
    @include AlignItem(center);
    @include Justifycontent(center);
    text-align: center;
    padding: 0;
    &__wrapper {
      @include Position(relative, initial, initial, 25px, 0px);
      &--up {
        @include Position(relative, initial, initial, initial, 12px);
        height: 100%;
      }
      &--position {
        @include Position(relative, initial, initial, initial, 0px);
      }
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .footer__wrapper--up {
    @include Position(relative, initial, initial, initial, 0px);
    height: 100%;
  }
}

