.square {
    @include Flexx();
    @include Justifycontent(flex-end);
    @include AlignItem(center);
    @include Font($font-x, initial, initial, $Outfit, $c-white);
    @include Shape(100%, 100%);
    @include Position(absolute, 0, initial, 0, initial);
    text-align: center;
    &__wrapper {
      @include Flexx();
      @include Justifycontent(center);
      @include AlignItem(center);
      @include Shape(300px, 300px);
      margin: 25px;
      border: 3px solid $c-white;
    }
    &__title {
      @include Font($font-x + 30, initial, initial, $Outfit, $c-white);
    }
}

@media only screen and (max-width: $break-mobile) {
  .square__wrapper {
    @include Shape(100px, 100px);
    border: 1px solid $c-white;
  }
  .square__title {
      font-size: $font-standard;
      font-weight: 500;
  }
}