.species {
  @include Flexx();
  @include Justifycontent(center);
  @include AlignItem(center);
  flex-wrap: wrap;
  &__button {
    @include Transition(initial, initial, 0.5, opacity 0.3s ease-in-out, opacity 0.3s ease-in-out, opacity 0.3s ease-in-out);
    @include Font($font-x, 10px, pointer, initial, $c-white);
    @include Flexx();
    flex-direction: column;
    width: 140px;
    padding: 5px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    &--cursor {
      cursor: not-allowed;
    }
    &--shade:hover {
      opacity: 1;
    }
  }
  &__bar {
    @include Position(relative, initial, initial, 15px, initial);
    @include Transition(10px, 2px solid $c-white, initial, initial, initial);
    width: 100%;
  }
}

@media only screen and (max-width: $break-tablet) {
  .species__button {
    font-size: $font-standard;
  }
}

@media only screen and (max-width: $break-mobile) {
  .species {
    &__bar {
      @include Position(relative, initial, initial, 10px, initial);
    }
    &__button {
      font-size: $font-m + 2;
      width: 100px;
    }
  }
}
